.home-hero {
  color: #fffff0;
  background: linear-gradient(
      to right,
      rgba($themeClrPrimary, 0.8),
      rgba($themeClrPrimary, 0.8)
    ),
    url(../../assets/svg/common-bg.svg);
  background-position: center;

  height: 100vh;

  min-height: 80rem;
  max-height: 120rem;
  position: relative;

  @include respond(phone) {
    height: unset;
    min-height: unset;
  }

  &__socials {
    position: absolute;
    top: 50%;
    border: 2px solid #fffff0;
    border-left: 2px solid #fffff0;
    transform: translateY(-50%);
    @include respond(tab-port) {
      display: none;
    }
  }
  &__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    @include respond(phone) {
      display: none;
    }
  }

  &__social {
    width: 5rem;
  }

  &__social-icon-link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid #eee;
    transition: background .3s;

    &:hover {
      background: rgba(#fff,.1);
    }

    &--bd-none {
      border-bottom: 0;
    }
  }

  &__social-icon {
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;

    @include respond(phone) {
      padding: 19rem 0 13rem 0;
      margin: auto;
      position: static;
      transform: translate(0, 0);
    }
  }

  &__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }
  &__cta {
    margin-top: 5rem;
    text-align: center;
  }
}

.about {
  background: rgb(250, 250, 250);
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 8rem;
    }
    &-title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        font-size: 2.4rem;
      }
    }
    &-details-para {
      font-size: 1.8rem;
      color: grey;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 1rem;
      &--hl {
        font-weight: 700;
        margin: 0 3px;
      }
      &:last-child {
        margin-bottom: 4rem;
      }
    }
  }
}

.projects {
  &__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 8rem;
    }

    @include respond(tab-port) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      overflow: hidden;
    }
    &-img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      @include respond(tab-port) {
        align-items: center;
      }

      &-title {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
    }
  }
}

.contact {
  background: linear-gradient(
      to right,
      rgba($themeClrPrimary, 0.8),
      rgba($themeClrPrimary, 0.8)
    ),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;

  &__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(#fff, 2);
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: $commonBorderRadius;

    margin: 5rem auto 0 auto;
    @include respond(phone) {
      padding: 3rem;
    }
  }
  &__form-field {
    margin-bottom: 4rem;
    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }
  &__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }
  &__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: rgba(rgb(240, 240, 240), 1);
    border-radius: $commonBorderRadius;
    font-weight: 600;

    &::placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }


    &::-webkit-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }


    &:-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }


    &::-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }


    &:-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }


    &::-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  &__btn {
    width: 30%;

    padding: 2rem 4rem;
    font-size: 1.6rem;
    @include respond(phone) {
      width: 100%;
    }
  }
}
